.header {
  font-size: 12px;
  height: 135px;
  background: url(../images/head_bg0.jpg);
  box-shadow: 0 0 10px #50412d;
}
.header a {
  color: #fff;
}
.header a:hover {
  text-decoration: none;
}
.h-top {
  position: relative;
  width: 1200px;
  height: 30px;
  line-height: 30px;
  margin: 0 auto;
}
.t-left {
  float: left;
  color: #575454 !important;
  padding-left: 10px;
}
.t-left > a {
  padding-right: 5px;
  padding-left: 5px;
  font-size: 12px;
}
/* header 的最顶部的右边 */
.t-right {
  display: flex;
  justify-content: flex-end;
  color: #575454 !important;
}
.t-right > div:first-child > a {
  padding-right: 10px;
}
.t-right > div:first-child > span {
  display: inline-block;
  padding: 0 10px;
  line-height: 15px;
  color: #fff !important;
  border-right: 1px solid #575454;
  border-left: 1px solid #575454;
}
.show_car {
  width: 194px;
}
/* 购物车精灵图 */
.show_car > a {
  text-align: center;
  display: inline-block;
  width: 194px;
  line-height: 30px;
  background: url(../images/bg.jpg) -168px -202px no-repeat;
}
.hid_car {
  display: none;
}
.carbox1 {
  right: 0;
  top: 30px;
  border: 2px solid #6a0000;
  background-color: #fff;
  position: absolute;
  box-shadow: 1px 1px 2px #999;
  z-index: 99999;
  width: 291px;
}
.biaoti {
  color: #86777a !important;
}
.car_pro li {
  cursor: pointer;
  width: 275px;
  border-bottom: 1px dashed #575454;
  margin: 0 auto;
  padding: 8px 0;
}
.car_pic > img {
  width: 60px;
  height: 98px;
}
.shop_txt1 {
  color: #91273b !important;
}
.total-price {
  height: 20px;
  line-height: 20px;
  display: block;
  text-align: right;
  font-weight: bold;
}
.close_btn a {
  display: block;
  background: url(../images/0050.gif) -64px -38px no-repeat;
  width: 14px;
  margin: 0 auto;
  margin-top: 7px;
  height: 14px;
}
.close_btn a:hover {
  background: url(../images/0050.gif) -64px -54px no-repeat;
}
.check_btn a {
  position: absolute;
  right: 8px;
  bottom: 25px;
  font-size: 13px;
  font-weight: bold;
  text-align: center;
  background: #8a0403;
  height: 25px;
  line-height: 15px;
  width: 50px;
  padding: 5px;
}
.h-body {
  position: relative;
  width: 1200px;
  margin: 0 auto;
  margin-top: 10px;
}
.h-body > a {
  display: inline-block;
  width: 220px;
  height: 55px;
  background: url(../images/logo_220.gif) no-repeat;
}
.search {
  position: relative;
  left: 120px;
  display: inline-block;
  width: 500px;
}
.search::after {
  content: '';
  display: block;
  clear: both;
}
.keyword {
  float: left;
  width: 413px;
  height: 33px;
  border: 3px solid #6a0000;
  padding: 0 3px;
  line-height: 33px;
  font-size: 15px;
  outline: none;
}
.search_post:focus {
  outline: none;
}
.search_post {
  cursor: pointer;
  border: none;
  color: #fff !important;
  float: left;
  width: 65px;
  height: 33px;
  line-height: 33px;
  text-align: center;
  background-color: #6a0000;
}
.s-bottom {
  clear: both;
  padding-top: 5px;
  color: #ecd0c7 !important;
}
.s-bottom a {
  color: #ecd0c7 !important;
}
.s-bottom a:hover {
  color: #fff !important;
}
.h-bottom {
  width: 1200px;
  height: 35px;
  margin: 0 auto;
}
.h-bottom ul > li:first-child {
  background-color: #000;
  padding: 0 60px;
}
.h-bottom ul > li:first-child + li {
  background-color: #000;
}
.h-bottom ul li {
  cursor: pointer;
  font-size: 14px;
}
.h-bottom ul > li:nth-child(2) ~ li a {
  text-align: center;
  width: 110px;
  height: 15px;
  line-height: 15px;
  padding: 0;
  margin-top: 10px;
  border-right: 1px solid #000;
}
.h-bottom li:hover {
  background-color: #000000;
}
