.section {
  width: 1200px;
  margin: 0 auto;
}
.w-20 {
  width: 220px;
}
a {
  color: #000;
}
.t-color {
  color: #91273b !important;
}
.l-top a:hover {
  color: #91273b !important;
  text-decoration: none;
}
.ml_2 {
  margin-left: 0.9rem;
}
.l-top a {
  margin-left: 0.9rem;
}
.l-top > .list-group > li {
  padding: 10px 0;
}
.l-top > .list-group > li > div:first-child {
  font-size: 15px;
  padding-bottom: 5px;
}
.l-top > .list-group li:hover {
  cursor: pointer;
  background: #e5ddd1;
}
.l-top > .list-group li {
  position: relative;
}
.hid_type {
  position: absolute;
  left: 215px;
  top: -1px;
  z-index: 9999;
  width: 340px;
  padding: 6px 0;
  background: #e5ddd1;
  border: 2px solid #000;
  border-top: 1px solid #000;
  border-left: none;
}
.hid_type ul li {
  border-bottom: 1px dashed #999;
  margin: 7px 22px;
}
.hid_type > ul > li > a {
  color: #351c20 !important;
  display: inline-block;
  margin: 5px 0;
  padding: 0 5px;
}
.hid_type > ul > li > a:first-child {
  width: 80px;
  height: 20px;
  line-height: 20px;
  color: #000;
  font-weight: bold;
}
.l-bottom {
  height: 222px;
}
.l-bottom img {
  width: 100%;
  height: 230px;
}
.carousel .carousel-inner .carousel-item img {
  height: 480px;
}
.carousel-indicators {
  justify-content: flex-end;
  margin: 0;
  padding-right: 1rem;
}
.carousel-indicators li {
  width: 25px;
  height: 10px;
  top: 5px;
  margin-left: 5px;
  cursor: pointer;
  background-color: #fff;
  opacity: 0.3;
}
.carousel-indicators .active {
  opacity: 1;
}
.carousel > div:nth-child(2) {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 20px;
  background-color: #000;
  opacity: 0.3;
}
.carousel-control-prev,
.carousel-control-next {
  height: 20%;
  width: 6%;
  top: 40%;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 0.25rem;
}
.carousel-control-prev:hover,
.carousel-control-next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
.carousel-control-prev {
  left: 5px;
}
.carousel-control-next {
  right: 5px;
}
.top_10 {
  margin-top: 10px;
}
.hot-top {
  font-size: 16px;
  font-weight: bold;
}
.hot-list li:hover {
  cursor: pointer;
}
.hot-list li {
  width: 195px;
  border: 2px solid #fff;
  padding: 0 6px;
  margin: 15px 0 0 5px;
}
.hot-list li:hover {
  border: 2px solid #e1dddd;
}
.wine-pic {
  position: relative;
}
.wine-pic > img {
  width: 170px;
  height: 170px;
}
.pic-demo {
  position: absolute;
  padding-left: 24px;
  padding-right: 8px;
  height: 20px;
  margin-top: 10px;
  overflow: hidden;
  color: #fff !important;
  background-color: rgba(154, 141, 143, 0.9);
  cursor: pointer;
}
.pic-icon {
  position: absolute;
  left: 5px;
  top: 3px;
  width: 12px;
  height: 13px;
  background: url(../images/bg.jpg) 0 -65px no-repeat;
}
.pic-cart {
  display: none;
  top: 100px;
  height: 90px !important;
}
.joincart a {
  display: block;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 80px;
  height: 25px;
  background-image: url(../images/add.gif);
}
.title {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  margin-top: 35px;
}
.title a {
  text-decoration: none;
  color: #000;
}
.title a:first-child:hover {
  color: #c00 !important;
}
.price {
  font-size: 30px;
  color: #8f0100 !important;
}
.price span {
  font-size: 12px;
}
.f-bottom {
  margin-top: 100px;
}
/* 右侧浮动购物车 */
.fixed_car a {
  color: #fff;
}
.fixed_car a:hover {
  text-decoration: none;
}
.shop_car2 {
  position: fixed;
  top: 50px;
  right: 50px;
}
.hid_car2 {
  display: none;
}
.show_car2 {
  width: 125px;
}
/* 购物车精灵图 */
.show_car2 > a {
  text-align: center;
  display: inline-block;
  width: 125px;
  line-height: 30px;
  background: url(../images/bg.jpg) -250px -658px no-repeat;
}
.hid_car {
  display: none;
}
.jiesuan {
  position: relative;
}
.jiesuan > div > p + p {
  padding: 8px 0;
}
.check_btn2 a {
  top: 15px !important;
}
